/* Mixin's */
@mixin transition {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

@mixin corners ($radius) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
    -khtml-border-radius: $radius;
}

body {
    background-image: url("/img/bg9.jpeg");
    background-size: cover;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    height: 100%;
    color: #fff;
    align-items: center;
    text-align: center;
}

.wrapper {
    width: 800px;
    margin: 300px auto;
    color: $white;
    text-align: center;

}

h1{
    font-size: 64px;
}
h2,
h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2.6em;
    text-transform: uppercase;
}

#seconds,
#tens {
    font-size: 2em;
}

button {
    color: #fff;
    border-radius: 4%;
    background-color: brown;
    border: none;
    text-align: center;
    font-size: 22px;
    padding: 10px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 4px;
    font-family: sans-serif;

    &:hover {
        @include transition;
        background: $white;
        border: solid 1px $white;
        color: $base-color;
    }
}