body{
    background-image: url("/img/bg9.jpeg");
    background-size: cover;
    color: white;

}
.heading{
    font-size: 55px;
    text-align: center;
    margin-top: 100px;
}
.home-logo{
    margin: 20px;
}
.home-img{
    background-color: red;
    border-radius: 100px;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    top: 200px;
    
}
.gif{
    height: 350px;
    position: relative;
    top: 20px;
    left: 90px;
}
.container{
    width: 200px;
    text-align: center;
    border: 2px solid gray;
    height: 360px;
    width: 300px;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 2px 3px 2px;
    background-color: #000;
}
.input{
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    
}
.input-value{
    font-size: 64px;

}
.main-btn{
    display: flex;
    flex-direction: row;

}
.btn{
    color: #fff;
    border-radius: 4%;
    background-color: brown;
    border: none;
    text-align: center;
    font-size: 22px;
    padding: 10px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 4px;
    font-family: sans-serif;
}
.btn:hover{
    background-color: black;
    color: #fff;
}
