body { 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    background-color: rgb(246, 237, 237);
    align-items: center; 
    min-height: 50vh; 
<<<<<<< HEAD
    background-image: url("/img/bg9.jpeg");
=======
    background-image: url("./../img/bg9.jpeg");
>>>>>>> f5bfba098eaef4b8dec6cf1129996a99815cdf65
    background-size: cover;
} 
.home-logo{
    margin: 20px;
    position: relative;
    right: 930px;
    bottom: 25px;


}
.home-img{
    background-color: red;
    border-radius: 100px;
}
  
.root { 
    font-size: 20px; 
    color: rgb(246, 237, 245); 
    background-color: rgb(50, 47, 47); 
    box-shadow: 0 0px 10px 0px grey; 
    padding: 0% 5% 1% 5%; 
    text-align: center; 
    border-radius: 5px; 
    margin-top: 80px;
} 
  
.title { 
    margin-top: 10px;
    border-bottom: 1px dotted gray; 
    border-color: rgb(167, 157, 157); 
    
} 
  
input { 
    font-size: 20 px; 
    padding-left: 10px; 
    outline: 1px grey; 
    border-radius: 5px;
} 
  
  
.foot { 
    margin-bottom: 0%; 
    display: flex; 
    width: 100%; 
} 
  
.foot>button { 
    width: 48%; 
    padding: 1%; 
    margin: 1%; 
    background-color: tomato; 
    color: white    ;
    border-radius: 5px; 
    border: none; 
    font-size: large; 
}